<template name="answerForm">
  <form class="main">
    <input type="hidden" name="question_id" id="question_id" value="{{this._id}}">
    <div class="control-group">
        <div class="controls">
            <textarea class="form-control" rows="3" name="replyText" id="replyText"></textarea>
        </div>
    </div>
    <hr/>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Reply" class="btn btn-primary submit"/>
        </div>
    </div>
  </form>
</template>