<template name="answerItem">
  <div class="replies">
    <div class="answer-content">
      <h3>{{title}}</h3>
      <p>{{{text}}}</p>
      <p><i>Authored by: {{username}} at {{createdAt}}</i></p>
      <p>Score: <span class="glyphicon glyphicon-minus answer-minus" aria-hidden="true"></span>
        {{score}}
        <span class="glyphicon glyphicon-plus answer-plus" aria-hidden="true"></span></p>
      <p><span class="badge answer-badge" style="background-color: {{badgeColor}}">{{isAccepted}}</span></p>
      <p>
        Ignorance Map Distribution:
        <ul>
          <li>Known Unknowns: {{ignoranceMap.knownUnknowns}} {{distribution ignoranceMap.knownUnknowns ignoranceMap.total}} %</li>
          <li>Unknown Unknowns: {{ignoranceMap.unknownUnknowns}} {{distribution ignoranceMap.unknownUnknowns ignoranceMap.total}} %</li>
          <li>Errors: {{ignoranceMap.errors}} {{distribution ignoranceMap.errors ignoranceMap.total}} %</li>
          <li>Unknown Knowns: {{ignoranceMap.unknownKnowns}} {{distribution ignoranceMap.unknownKnowns ignoranceMap.total}} %</li>
          <li>Taboos: {{ignoranceMap.taboos}} {{distribution ignoranceMap.taboos ignoranceMap.total}} %</li>
          <li>Denials: {{ignoranceMap.denials}} {{distribution ignoranceMap.denials ignoranceMap.total}} %</li>               
        </ul>
      </p>
      {{#if currentUser}}
        {{#if myIgnorance}}
        <p>
          My Ignorance is: <b>{{myIgnorance}}</b>
        </p>
        {{else}}
        <p>
          State your Ignorance:
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default ku">Known Unknowns</button>
            <button type="button" class="btn btn-default uu">Unknown Unknowns</button>
            <button type="button" class="btn btn-default er">Errors</button>
            <button type="button" class="btn btn-default uk">Unknown Knowns</button>
            <button type="button" class="btn btn-default ta">Taboos</button>
            <button type="button" class="btn btn-default de">Denials</button>          
          </div>
        </p>
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>
