<template name="manageUsers">
  <h1>Users</h1>
  <table class="table table-hover">
    <thead>
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Username</td>
      <td></td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    {{#each users}}
      <tr>
        {{>userRow}}
        <td>
          <table class="table">
            <tbody>
              {{#each interestingTags this._id}}
              <tr>
                {{>chart}}
              </tr>
              {{/each}}        
            </tbody>
          </table>
        </td>        
      </tr>
    {{/each}}
     </tbody>
  </table>
  {{#if isReady}}
    {{#if hasMoreUsers}}
      <a class="load-more" href="#">Load More</a>
    {{/if}}
  {{else}}
    <div class="loading">{{>spinner}}</div>
  {{/if}}  
</template>

<template name="userRow">
  <td>{{this.profile.first_name}}</td>
  <td>{{this.profile.last_name}}</td>  
  <td><a href="#" class="impersonate">{{this.username}}</a></td>
  <td>
    <label class="toggle-publisher">
      <input class="checkbox" type="checkbox" {{checkPublisher this._id}} />
      Publisher
    </label>
  </td>
</template>  

<template name="chart">
  <td>
    <label>{{this.argument.argument}} Goal <span id="{{../_id}}-{{this.argument.argument}}_Goal"></span></label>
    <div class="progress" data="{{../_id}}">
      <div class="progress-bar progress-bar-danger progress-bar-striped active"
        aria-valuenow="00" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="{{../_id}}-progress-danger-{{this.argument.argument}}">
        <span class="sr-only"></span>
      </div>
      <div class="progress-bar progress-bar-warning progress-bar-striped active"
        aria-valuenow="00" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="{{../_id}}-progress-warning-{{this.argument.argument}}">
        <span class="sr-only"></span>
      </div>
      <div class="progress-bar progress-bar-success progress-bar-striped active"
      aria-valuenow="00" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="{{../_id}}-progress-ok-{{this.argument.argument}}">
        <span class="sr-only"></span>
      </div>
    </div>
  </td>
</template>