<template name="manageUsers">
  <h1>Users</h1>
  <table class="table table-hover">
    <thead>
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Username</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    {{#each users}}
      <tr>
        {{>userRow}}
      </tr>
    {{/each}}
     </tbody>
  </table>
  {{#if isReady}}
    {{#if hasMoreUsers}}
      <a class="load-more" href="#">Load More</a>
    {{/if}}
  {{else}}
    <div class="loading">{{>spinner}}</div>
  {{/if}}  
</template>

<template name="userRow">
  <td>{{this.profile.first_name}}</td>
  <td>{{this.profile.last_name}}</td>  
  <td>{{this.username}}</td>
  <td>
    <label class="toggle-publisher">
      <input class="checkbox" type="checkbox" {{checkPublisher this._id}} />
      Publisher
    </label>
  </td>
</template>  
