<template name="ignoranceMap">
  <h1>Ignorance Map</h1>
    {{#each interestingTags}}
      <div class="ignoranceRow">
        {{>ignoranceRow}}
      </div>
    {{/each}}

</template>

<template name="ignoranceRow">
  <h2>{{this.argument}}</h2>
  <div class="stats">
    <ul>
      <li>{{ignoranceLabel 'uu'}}: {{this.distribution.uu.absolute}}</li>
      <li>{{ignoranceLabel 'ku'}}: {{this.distribution.ku.absolute}}</li>
      <li>{{ignoranceLabel 'er'}}: {{this.distribution.er.absolute}}</li>
      <li>{{ignoranceLabel 'de'}}: {{this.distribution.de.absolute}}</li>
      <li>{{ignoranceLabel 'kk'}}: {{this.distribution.kk.absolute}}</li>
      <li>{{ignoranceLabel 'uk'}}: {{this.distribution.uk.absolute}}</li>      
    </ul>
  </div>
  <div class="chart">
    <canvas id="{{chart}}" style="width:100%; height:100%"></canvas>
  </div>
</template>  
