<template name="myIgnoranceMap">

  <h1>My Ignorance Map</h1>
    {{#each interestingTags}}
      <div class="ignoranceRow">
        {{>myIgnoranceRow}}
      </div>
    {{/each}}

</template>

<template name="myIgnoranceRow">
  <h2>{{this.argument}}</h2>
  <p>Score is: {{score}}</p>
  <div class="chart">
    <canvas id="{{chart}}" style="width:100%; height:100%"></canvas>
  </div>  
  <h3>Known Unknowns</h3>
  {{#if questionsKU.count}}
  <table class="table table-hover">
    <thead>
    <tr>
      <td>Title</td>
    </tr>
    </thead>
    <tbody>
    {{#each questionsKU}}
      <tr>
        <td><a href="{{pathFor 'questionPage'}}">{{this.title}}</a></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{else}}
  No data to display.
  {{/if}}

  <h3>Unknown Unknowns</h3>
  {{#if questionsUU.count}}
  <table class="table table-hover">
    <thead>
    <tr>
      <td>Title</td>
    </tr>
    </thead>
    <tbody>
    {{#each questionsUU}}
      <tr>
        <td><a href="{{pathFor 'questionPage'}}">{{this.title}}</a></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{else}}
  No data to display.
  {{/if}}

  <h3>Errors</h3>
  {{#if questionsER.count}}
  <table class="table table-hover">
    <thead>
    <tr>
      <td>Title</td>
    </tr>
    </thead>
    <tbody>
    {{#each questionsER}}
      <tr>
        <td><a href="{{pathFor 'questionPage'}}">{{this.title}}</a></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{else}}
  No data to display.
  {{/if}}

  <h3>Unknown Knowns</h3>
  {{#if questionsUK.count}}  
  <table class="table table-hover">
    <thead>
    <tr>
      <td>Title</td>
    </tr>
    </thead>
    <tbody>
    {{#each questionsUK}}
      <tr>
        <td><a href="{{pathFor 'questionPage'}}">{{this.title}}</a></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{else}}
  No data to display.
  {{/if}}

  <h3>Known Knowns</h3>
  {{#if questionsKK.count}}    
  <table class="table table-hover">
    <thead>
    <tr>
      <td>Title</td>
    </tr>
    </thead>
    <tbody>
    {{#each questionsKK}}
      <tr>
        <td><a href="{{pathFor 'questionPage'}}">{{this.title}}</a></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{else}}
  No data to display.
  {{/if}}

  <h3>Denials</h3>
  {{#if questionsDE.count}}   
  <table class="table table-hover">
    <thead>
    <tr>
      <td>Title</td>
    </tr>
    </thead>
    <tbody>
    {{#each questionsDE}}
      <tr>
        <td><a href="{{pathFor 'questionPage'}}">{{this.title}}</a></td>
      </tr>
    {{/each}}
    </tbody>
  </table> 
  {{else}}
  No data to display.
  {{/if}}
   
</template>