<template name="myIgnoranceMap">

    {{#each interestingTags}}
      <div class="ignoranceRow">
        {{>myIgnoranceRow}}
      </div>
    {{/each}}

</template>

<template name="myIgnoranceRow">
  <h2>Argument: {{this.argument}}</h2>
  <p>Score is: {{score}}</p>
  <div class="chart">
    <canvas id="{{chart}}" style="width:100%; height:100%"></canvas>
  </div>  

  <h2>Goal {{goal}} <span id="{{this.argument}}_Goal"></span></h2>
  <div class="progress">
    <div class="progress-bar progress-bar-danger progress-bar-striped active"
      aria-valuenow="00" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="progress-danger-{{this.argument}}">
      <span class="sr-only"></span>
    </div>
    <div class="progress-bar progress-bar-warning progress-bar-striped active"
      aria-valuenow="00" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="progress-warning-{{this.argument}}">
      <span class="sr-only"></span>
    </div>
    <div class="progress-bar progress-bar-success progress-bar-striped active"
    aria-valuenow="00" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="progress-ok-{{this.argument}}">
      <span class="sr-only"></span>
    </div>
  </div>

  <h3>{{ignoranceLabel 'ku'}}</h3>
  <div class="chart">
    <canvas id="ku-{{chart}}" style="width:100%; height:100%"></canvas>
  </div>  

  {{#if questionsKU.count}}
  <table class="table table-hover">
    <thead>
    <tr>
      <td>Title</td>
    </tr>
    </thead>
    <tbody>
    {{#each questionsKU}}
      <tr>
        <td><a href="{{pathFor 'questionPage'}}">{{this.title}}</a></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{else}}
  No data to display.
  {{/if}}

  <h3>{{ignoranceLabel 'uu'}}</h3>
  <div class="chart">
    <canvas id="uu-{{chart}}" style="width:100%; height:100%"></canvas>
  </div>  

  {{#if questionsUU.count}}
  <table class="table table-hover">
    <thead>
    <tr>
      <td>Title</td>
    </tr>
    </thead>
    <tbody>
    {{#each questionsUU}}
      <tr>
        <td><a href="{{pathFor 'questionPage'}}">{{this.title}}</a></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{else}}
  No data to display.
  {{/if}}

  <h3>{{ignoranceLabel 'er'}}</h3>
  <div class="chart">
    <canvas id="er-{{chart}}" style="width:100%; height:100%"></canvas>
  </div>  

  {{#if questionsER.count}}
  <table class="table table-hover">
    <thead>
    <tr>
      <td>Title</td>
    </tr>
    </thead>
    <tbody>
    {{#each questionsER}}
      <tr>
        <td><a href="{{pathFor 'questionPage'}}">{{this.title}}</a></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{else}}
  No data to display.
  {{/if}}

  <h3>{{ignoranceLabel 'uk'}}</h3>
  <div class="chart">
    <canvas id="uk-{{chart}}" style="width:100%; height:100%"></canvas>
  </div>  

  {{#if questionsUK.count}}  
  <table class="table table-hover">
    <thead>
    <tr>
      <td>Title</td>
    </tr>
    </thead>
    <tbody>
    {{#each questionsUK}}
      <tr>
        <td><a href="{{pathFor 'questionPage'}}">{{this.title}}</a></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{else}}
  No data to display.
  {{/if}}

  <h3>{{ignoranceLabel 'kk'}}</h3>
  <div class="chart">
    <canvas id="kk-{{chart}}" style="width:100%; height:100%"></canvas>
  </div>  
  {{#if questionsKK.count}}    
  <table class="table table-hover">
    <thead>
    <tr>
      <td>Title</td>
    </tr>
    </thead>
    <tbody>
    {{#each questionsKK}}
      <tr>
        <td><a href="{{pathFor 'questionPage'}}">{{this.title}}</a></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{else}}
  No data to display.
  {{/if}}

  <h3>{{ignoranceLabel 'de'}}</h3>
  <div class="chart">
    <canvas id="de-{{chart}}" style="width:100%; height:100%"></canvas>
  </div>  

  {{#if questionsDE.count}}   
  <table class="table table-hover">
    <thead>
    <tr>
      <td>Title</td>
    </tr>
    </thead>
    <tbody>
    {{#each questionsDE}}
      <tr>
        <td><a href="{{pathFor 'questionPage'}}">{{this.title}}</a></td>
      </tr>
    {{/each}}
    </tbody>
  </table> 
  {{else}}
  No data to display.
  {{/if}}
   
</template>