<template name="questionItem">
  <div class="question">
    <div class="question-content">
      <h3><a href="{{pathFor 'questionPage'}}">{{title}}</a></h3>
      <p>{{{text}}}</p>
      <p><i>Authored by: {{username}} at {{createdAt}}</i></p>
      {{#if isPublisher}}
      <p><span class="badge" style="background-color: {{badgeColor}}">{{isPublished}}</span></p>
      {{/if}}
    </div>
    {{#if ownPost}}<a class="btn btn-primary" href="{{pathFor 'questionEdit'}}">Edit</a>{{/if}}

  </div>
</template>