<template name="questionEdit">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="questionTitle">Title</label>
        <div class="controls">
            <input name="questionTitle" type="text" value="{{title}}" placeholder="Title"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="questionText">Text</label>
        <div class="controls">
            <input name="questionText" type="text" value="{{text}}" placeholder="Text"/>
        </div>
    </div>
    <hr/>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Save Changes" class="btn btn-primary submit"/>
            <button type="button" class="btn btn-danger remove">Delete Question</button>
        </div>
    </div>
  </form>
</template>
