<template name="questionEdit">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="questionTitle">Title</label>
        <div class="controls">
            <input name="questionTitle" type="text" value="{{title}}" placeholder="Title"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="questionText">Text</label>
        <div class="controls">
            <textarea class="form-control" rows="3" name="questionText" id="questionText">{{text}}</textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="questionTags">Tags</label>
        <div class="controls">
            <input name="questionTags" type="text" value="{{tags}}" placeholder="Enter comma separated tags here"/>
        </div>
    </div>    
    <hr/>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Save Changes" class="btn btn-primary submit"/>
            {{#unless avoidQuestionRemove }}
            <button type="button" class="btn btn-danger remove">Delete Question</button>
            {{/unless}}
        </div>
    </div>
  </form>
</template>
