<template name="questionsList">
  <h1>Submitted questions
  {{#if filtered}}
  <span class="badge" style="background-color: #D2A13E">Remove filter {{filtered}} <span class="filter glyphicon glyphicon-remove"></span></span>
  {{/if}}
  </h1>
  <div class="questions">
    {{#each questions}}
      {{> questionItem}}
    {{/each}}
  </div>
  {{#if isReady}}
    {{#if hasMoreQuestions}}
      <a class="load-more" href="#">Load More</a>
    {{/if}}
  {{else}}
    <div class="loading">{{>spinner}}</div>
  {{/if}}
</template>