<template name="questionItem">
  <div class="question">
    <div class="question-content">
      <h3><a href="{{pathFor 'questionPage'}}">{{title}}</a>&nbsp;<span class="badge" style="background-color: {{badgeColor}}">{{isAnswered}}</span></h3>
      <p>{{{text}}}</p>
      <p><i>Authored by: {{username}} at {{createdAt}}</i></p>
      {{#if isPublisher}}
      <p><span class="badge question-badge" style="background-color: {{pubBadgeColor}}">{{isPublished}}</span></p>
      {{/if}}
      <p>Score: <span class="glyphicon glyphicon-minus question-minus" aria-hidden="true"></span>
        {{score}}
        <span class="glyphicon glyphicon-plus question-plus" aria-hidden="true"></span></p>
      <p>
      {{#each tags}}
        <span class="badge" style="display: inline-block; background-color: #3E6D8E">{{this}}</span>
      {{/each}}
      </p>
    </div>
    {{#if ownPost}}<a class="btn btn-primary" href="{{pathFor 'questionEdit'}}">Edit</a>{{/if}}

  </div>
</template>