<template name="navBrand">
  <a class="navbar-brand" href="{{pathFor 'questionsList'}}">Questioning</a>
</template>

<template name="navItems">
  <li class="{{ activeIfTemplateIs 'questionsList' }}">
    <a href="{{pathFor 'questionsList'}}">Home</a>
  </li>
  <li class="{{ activeIfTemplateIs 'questionsUnansweredList' }}">
    <a href="{{pathFor 'questionsUnansweredList'}}">Unanswered</a>
  </li>  
  {{#if isInRole 'publisher'}}
  <li class="{{ activeIfTemplateIs 'questionsUnpublishedList' }}">
    <a href="{{pathFor 'questionsUnpublishedList'}}">Unpublished</a>
  </li>
  {{/if}}  
  <li class="{{ activeIfTemplateIs 'about' }}">
    <a href="{{pathFor 'about'}}">About</a>
  </li>
  {{#if currentUser}}
  <li class="{{ activeIfTemplateIs 'questionsMineList' }}">
    <a href="{{pathFor 'questionsMineList'}}">My questions</a>
  </li>  
  <li>
    <a data-toggle="modal" href="#questionModal" id="submitQuestion">Submit a question</a>
  </li>
  {{/if}}
  {{#if isInRole 'administrator'}}
  <li class="{{ activeIfTemplateIs 'manageUsers' }}">
    <a href="{{pathFor 'manageUsers'}}">Manage Users</a>
  </li>
  {{/if}}
</template>
