<template name="navBrand">
  <a class="navbar-brand" href="{{pathFor 'questionsList'}}">Questioning</a>
</template>

<template name="navItems">
  <li class="{{ activeIfTemplateIs 'QuestionsList' }}">
    <a href="{{pathFor 'questionsList'}}">Questions</a>
  </li>
  <li class="{{ activeIfTemplateIs 'About' }}">
    <a href="{{pathFor 'about'}}">About</a>
  </li>
  {{#if currentUser}}
  <li>
    <a data-toggle="modal" href="#questionModal" id="submitQuestion">Submit a question</a>
  </li>
  {{/if}}
</template>
